*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
}

html {
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    padding-left: 8px;
    margin: 0;
}

h2,
h3 {
    margin: 12px 0;
}

path {
    stroke-linecap: round;
}

#defs {
    width: 0;
    height: 0;
    position: absolute;
}