:root {
    --sea: #212150;
    --mountain: #404040;
    --high_mountain: #A9A9A9;
    --ice: lightblue;
    --tundra: #45b39d;
    --grassland: lightgreen;
    --savanna: #DAF7A6;
    --boreal_forest: #387e62;
    --forest: #175616;
    --tropical_rainforest: #0a260a;
    --cold_swamp: #bed69e;
    --swamp: #828c51;
    --tropical_swamp: #494f28;
    --desert: #e8ac4b;
    --extreme_desert: #f9e79f;
}

.sea {
    fill: var(--sea);
}

.mountain {
    fill: var(--mountain);
}

.high_mountain {
    fill: var(--high_mountain);
}

.ice {
    fill: var(--ice);
}

.tundra {
    fill: var(--tundra);
}

.grassland {
    fill: var(--grassland);
}

.savanna {
    fill: var(--savanna);
}

.boreal_forest {
    fill: var(--boreal_forest);
}

.forest {
    fill: var(--forest);
}

.tropical_rainforest {
    fill: var(--tropical_rainforest);
}

.cold_swamp {
    fill: var(--cold_swamp);
}

.swamp {
    fill: var(--swamp);
}

.tropical_swamp {
    fill: var(--tropical_swamp);
}

.desert {
    fill: var(--desert);
}

.extreme_desert {
    fill: var(--extreme_desert);
}