button {
    height: 40px;
    padding: 0 16px;
    outline: 0;
    border: 0;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    cursor: pointer;
}

.icon-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#burger-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#zoom-btns {
    border-left: var(--border-style);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
        padding: 0;
    }
}