.cell-coords {
    display: none;
    font-size: 0.1rem;
    fill: blue
}

.offset-coords {
    opacity: 0;
}

body.use-offset-coords {
    .cube-coord {
        opacity: 0;
    }

    .offset-coords {
        opacity: 1;
    }
}

#toggle-coord-system-btn {
    display: none;
}

.debug {
    #toggle-coord-system-btn,
    .cell-coords {
        display: initial;
    }
}