.info-bar {
    height: var(--info-bar-height);
    display: flex;
    align-items: center;

    &:first-of-type {
        border-bottom: var(--border-style);
        justify-content: space-between;
    }

    &:last-of-type {
        border-top: var(--border-style);
        justify-content: space-around;
    }
}

body:not([data-current_phase="movement_execution"]) #turn-info::before {
    content: '';
    border: 2px solid var(--active-player-color);
    margin-right: 10px;
}

#turn-info {
    margin: 0 auto;
}