#side-bar {
    border-left: var(--border-style);
    padding: 4px 8px;
    overflow-y: auto;
    display: flex;
}

#general-info {
    display: none;
    align-self: center;
    text-align: center;

    [data-current_phase="land_grab"] & {
        display: block;
    }
}

#total-production-forecast,
#cell-production-forecast {
    [data-current_phase="land_grab"] & {
        display: none;
    }
}