dialog#start-game-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:focus-visible {
        outline: none;
    }

    &::backdrop {
        background-image: linear-gradient(
            45deg,
            var(--sea),
            var(--tundra),
            var(--tropical_rainforest),
            var(--desert)
        );
        opacity: 0.75;
        pointer-events: none;
    }

    &.game-config {
        #config-game-form {
            display: block;
        }

        #start-game-form {
            display: none;
        }
    }
}

#config-game-form > * {
    margin-bottom: 16px;
}

.player-config {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landgrab-type label {
    display: block;
}

[data-prior-save="false"] {
    #continue-btn {
        /* TODO visually disable btn as well */
        pointer-events: none;
    }
}

#config-game-form {
    display: none;

    input[placeholder] {
        width: 124px;
        height: 32px;
    }
}