#start-game-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:focus-visible {
        outline: none;
    }

    &::backdrop {
        background-image: linear-gradient(
            45deg,
            var(--sea),
            var(--tundra),
            var(--tropical_rainforest),
            var(--desert)
        );
        opacity: 0.75;
        pointer-events: none;
    }

    &.game-config {
        #config-game-form {
            display: block;
        }

        #start-game-form {
            display: none;
        }
    }

    form > * {
        margin-bottom: 16px;
    }
}

.player-config {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

label {
    display: flex;
    align-items: center;

    #cell-production-forecast & {
        display: initial;
    }
}

.label-text {
    padding-right: 4px;
}

#player-setup {
    position: relative;
}

#add-player-btn {
    position: absolute;
    right: 0;
    top: -30px;
}

.player-name-input {
    padding: 0 16px;
}

.player-type-select {
    cursor: pointer;

    input {
        display: none;
    }

    :checked + .icon {
        fill: var(--tundra);
        stroke: var(--tundra);
    }
}

#landgrab-type label {
    display: block;
}

[data-prior-save="false"] {
    #continue-btn {
        filter: brightness(1.3);
        cursor: not-allowed;
    }
}

#config-game-form {
    display: none;

    input[placeholder] {
        background-color: white;
        border: 1px solid #2c2c2c;
        width: 124px;
        height: 32px;
    }
}

input.invalid {
    border: 1px solid red;
}