<svg id="defs">
    <defs>
        <g class="cell-wrapper">
            <use class="cell" xlink:href="#hex"></use>
            <text class="population-size" transform="translate(2, 4)"></text>
            <g class="cell-coords">
                <text class="q-coord cube-coord" transform="translate(1.5, 2)"></text>
                <text class="r-coord cube-coord" transform="translate(4.5, 3.5)"></text>
                <text class="s-coord cube-coord" transform="translate(2, 5)"></text>
                <text class="offset-coords" transform="translate(1.5, 3.5)"></text>
            </g>
        </g>
        <g class="player-border"></g>
        <polygon id="hex" points="0,1.5 3,0 6,1.5 6,4.5 3,6 0,4.5" />
        <symbol id="human-player" viewBox="0 2 12 12" stroke-width="0">
            <circle cx="6" cy="6" r="2"></circle>
            <rect x="2" y="8.5" width="8" height="15" rx="2"></rect>
        </symbol>
        <symbol id="ai-player" viewBox="0 0 12 12" stroke-width="0">
            <rect x="1" y="3" width="9" height="7" stroke-width="1" fill="none"></rect>
            <rect x="2" y="4" width="7" height="4"></rect>
            <circle cx="8" cy="8.75" r="0.5" fill="red"></circle>
            <rect x="4" y="11" width="3" height="1"></rect>
        </symbol>
        <symbol id="plus" viewBox="1 -1 10 11">
            <path d="M2 6 h8 M6 2 v8"></path>
        </symbol>
        <symbol id="x" viewBox="0 -1 10 10">
            <path d="M2 2 L8 8 M8 2 L 2 8"></path>
        </symbol>
    </defs>
</svg>