<svg id="defs">
    <defs>
        <symbol id="burger-menu" viewBox="-1 -1 6 7">
            <path d="M0 0 H5 M0 2 H5 M0 4 H5"></path>
        </symbol>
        <g class="cell-wrapper">
            <use class="cell" xlink:href="#hex"></use>
            <text class="population-size" transform="translate(2, 4)"></text>
        </g>
        <path class="player-border"></path>
        <polygon id="hex" points="0,1.5 3,0 6,1.5 6,4.5 3,6 0,4.5" />
        <symbol id="people" viewBox="0 2 12 12" stroke-width="0">
            <circle cx="6" cy="6" r="2"></circle>
            <rect x="2" y="8.5" width="8" height="15" rx="2"></rect>
        </symbol>
        <symbol id="ai-player" viewBox="0 0 12 12" stroke-width="0">
            <rect x="1" y="3" width="9" height="7" stroke-width="1" fill="none"></rect>
            <rect x="2" y="4" width="7" height="4"></rect>
            <circle cx="8" cy="8.75" r="0.5" fill="red"></circle>
            <rect x="4" y="11" width="3" height="1"></rect>
        </symbol>
        <symbol id="plus" viewBox="1 -1 10 11">
            <path d="M2 6 h8 M6 2 v8"></path>
        </symbol>
        <symbol id="minus" viewBox="1 -1 10 11">
            <path d="M2 6 h8"></path>
        </symbol>
        <symbol id="x" viewBox="0 -1 10 10">
            <path d="M2 2 L8 8 M8 2 L 2 8"></path>
        </symbol>
        <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="2.2" markerHeight="2.2" stroke="none"
            fill="var(--owner-color)" orient="auto-start-reverse">
            <path d="M 0 0 L 10 5 L 0 10 z" />
        </marker>
        <g class="movement-indicator">
            <path marker-end="url(#arrow)"></path>
            <!-- TODO give text a background rect for better legibility -->
            <text>
                <textPath text-anchor="middle" startOffset="50%"></textPath>
            </text>
        </g>
        <symbol id="gold" viewBox="150 72 140 285">
            <g fill="none" stroke-width="23" stroke="#000" stroke-linecap="round">
                <path d="M271.874 205.764a57 45 21.2 1 0-44.206 11.613 57 45 21.2 1 1-51.468 14.968" />
                <path d="m201.95 340.521 47.73-256.694" />
            </g>
        </symbol>
        <symbol id="cloth" viewBox="109 146 302 85">
            <g fill="none" stroke="#000">
                <path stroke-linejoin="round" stroke-width="16.8"
                    d="m150.167 169 148-30q42 12 16 50l-157 40 104 13q104-19 135-38l-82-15" />
                <ellipse cx="153.167" cy="199" stroke-width="19.7" rx="25" ry="30" />
            </g>
        </symbol>
        <symbol id="wood" viewBox="128 83 392 249">
            <g fill="none" stroke="#000">
                <ellipse cx="205.167" cy="157" stroke-width="19.7" rx="36" ry="54" />
                <ellipse cx="205.167" cy="157" stroke-width="19.7" rx="36" ry="54" transform="translate(-41 105)" />
                <ellipse cx="205.167" cy="157" stroke-width="19.7" rx="36" ry="54" transform="translate(44 107)" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="20"
                    d="m208.167 103 247-4q50 39 11 97" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="20"
                    d="m250.167 210 239-11q54 37 15 93l-249 26" />
                <path stroke-linecap="round" stroke-width="14" d="m165.167 319 70-4" />
            </g>
        </symbol>
        <symbol id="stone" viewBox="82 103 321 170">
            <g fill="none" stroke="#000" stroke-linejoin="round">
                <path stroke-width="15" d="M153.167 160h88v56h-88z" />
                <path stroke-width="15" d="M95.167 219h91v46h-91z" />
                <path stroke-width="15" d="M198.167 218h87v47h-87z" />
                <path stroke-width="13" d="m94.167 218 59-34" />
                <path stroke-width="13" d="m153.167 159 96-51h79l-88 55" />
                <path stroke-width="13" d="m237.167 215 99-62h53l-102 65" />
                <path stroke-width="13" d="m286.167 266 103-69v-43" />
                <path stroke-width="13" d="M328.167 157v-47" />
            </g>
        </symbol>
        <symbol id="food" viewBox="166 155 230 74">
            <g fill="none" stroke="#000">
                <ellipse cx="282.233" cy="192.067" stroke-width="15" rx="103" ry="45" />
                <path stroke-linecap="round" stroke-linejoin="arcs" stroke-width="10"
                    d="m245.233 177.067-4 27M309.233 178.067l-4 27M275.233 169.067l-6 46" />
            </g>
        </symbol>
        <symbol id="coal" viewBox="145 117 99 75">
            <path stroke="#000" stroke-width="2" d="m145.233 156.067 4 23 46 9 49-18-26-49-50 7Z" />
        </symbol>
        <symbol id="alcohol" viewBox="112 85 60 123">
            <g stroke-linejoin="round" stroke-linecap="round">
                <path stroke="#000" stroke-width="2" d="M112.233 111.067h60v95h-60z" />
                <path stroke="#000" stroke-width="2" d="M132.233 87.067h22v28h-22z" />
                <path fill="none" stroke="#fff" stroke-width="6" d="m124.233 178.067 35-36" />
                <ellipse cx="128.233" cy="141.067" fill="none" stroke="#fff" stroke-width="3" rx="5" ry="6"
                    transform="translate(2 4)" />
                <ellipse cx="128.233" cy="141.067" fill="none" stroke="#fff" stroke-width="3" rx="5" ry="6"
                    transform="translate(24 32)" />
            </g>
        </symbol>
        <symbol id="iron" viewBox="139 75 192 171">
            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"
                d="M141.233 163.067h80v14h-32V220h30v16H139v-16h35v-43.933h-34.767v-12L265.167 87h78.066l-122 76.067M223 176l120-78V88M220.167 235 340 155v-13l-120 78m82-95v16h37m-36 1-112 77m-51.833 1L173 200" />
        </symbol>
    </defs>
</svg>