<dialog id="movement-config">
    <form>
        <h2>Plan your move</h2>
        <fieldset id="season-of-move-select">
            <legend>When do you make the move?</legend>
            <label>
                <input type="radio" name="season-of-move" value="spring" checked>
                <span class="label-text">Spring</span>
            </label>
            <label>
                <input type="radio" name="season-of-move" value="summer">
                <span class="label-text">Summer</span>
            </label>
            <label>
                <input type="radio" name="season-of-move" value="autumn">
                <span class="label-text">Autumn</span>
            </label>
            <label>
                <input type="radio" name="season-of-move" value="winter">
                <span class="label-text">Winter</span>
            </label>
        </fieldset>
        <!-- TODO enable specifying move type - conquer | step | gather resources (...?) -->
        <!-- TODO enable specifying unit types -->
        <fieldset id="troop-strength-setter">
            <legend>How many people do you send?</legend>
            <output name="troop-strength-value">0</output>
            <div id="troop-strength-input">
                <output name="min-troop-strength-value">0</output>
                <!-- TODO UI to change value by 1 up/down -->
                <input type="range" step="1" name="troop-strength">
                <output name="max-troop-strength-value">0</output>
            </div>
        </fieldset>
        <button>Plan Move</button>
    </form>
</dialog>