<template id="player-config-tmpl">
    <div class="player-config">
        <label>
            <span class="label-text">Name:</span>
            <input class="player-name-input" placeholder="Enter a Name">
        </label>
        <!-- TODO color selection -->
        <!-- TODO hide radios and underline selected type -->
        <input class="player-type-select" type="radio" value="human">
        <svg class="icon" title="Human Player">
            <use href="#human-player"></use>
        </svg>
        <input class="player-type-select" type="radio" value="ai">
        <svg class="icon" title="AI Player">
            <use href="#ai-player"></use>
        </svg>
        <button type="button" class="icon-btn delete-player-btn" title="Delete Player">
            <svg class="icon">
                <use href="#x"></use>
            </svg>
        </button>
    </div>
</template>