<template id="player-config-tmpl">
    <div class="player-config">
        <label>
            <span class="label-text">Name:</span>
            <input class="player-name-input" placeholder="Enter a Name">
        </label>
        <!-- TODO color selection -->
        <label class="player-type-select">
            <input class="player-type-select-radio" type="radio" value="human">
            <svg class="icon" title="Human Player">
                <use href="#human-player"></use>
            </svg>
        </label>
        <label class="player-type-select">
            <input class="player-type-select-radio" type="radio" value="ai" checked>
            <svg class="icon" title="AI Player">
                <use href="#ai-player"></use>
            </svg>
        </label>
        <button type="button" class="icon-btn delete-player-btn" title="Delete Player">
            <svg class="icon">
                <use href="#x"></use>
            </svg>
        </button>
    </div>
</template>