<div id="side-bar">
    <div id="cell-info">
        <div id="biome-name">
            <span class="label-text">
                Biome:
            </span>
            <span class="value-text"></span>
        </div>
        <div id="temperature">
            <span class="label-text">
                Temperature:
            </span>
            <span class="value-text"></span>
        </div>
        <div id="humidity">
            <span class="label-text">
                Humidity:
            </span>
            <span class="value-text"></span>
        </div>
        <div id="elevation">
            <span class="label-text">
                Elevation:
            </span>
            <span class="value-text"></span>
        </div>
    </div>
    <div id="overall-production-forecast"></div>
    <div id="cell-production-forecast"></div>
</div>