<template id="structure-builder-tmpl">
    <div class="structure-builder">
        <span class="label-text"></span>
        <button class="icon-btn deconstruct-structure-btn" type="button" title="Deconstruct Structure">
            <svg class="icon">
                <use href="#minus"></use>
            </svg>
        </button>
        <span class="structure-count"></span>
        <button class="icon-btn construct-structure-btn" type="button" title="Build Structure">
            <svg class="icon">
                <use href="#plus"></use>
            </svg>
        </button>
    </div>
</template>