@import url("styles/base.css");
@import url("styles/cell-coordinates.css");
@import url("styles/start-game-overlay.css");
@import url("styles/biome-colors.css");
@import url("styles/buttons.css");
@import url("styles/info-bar.css");

body {
    --cell-info-width: 240px;
    --info-bar-height: 40px;

    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr var(--cell-info-width);
    grid-template-rows: var(--info-bar-height) 1fr var(--info-bar-height);
    grid-template-areas:
        "header header"
        "board cellInfo"
        "footer footer"
    ;

    #board-container {
        grid-area: board;
        align-self: center;
        justify-self: center;
    }

    #cell-info {
        grid-area: cellInfo;
    }

    #top-bar {
        grid-area: header;
    }

    #bottom-bar {
        grid-area: footer;
    }
}

h1 {
    padding-left: 8px;
}

#defs {
    width: 0;
    height: 0;
    position: absolute;
}

#board,
#board-container {
    height: 100%;
}

#board-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100vw - var(--cell-info-width));
}

.icon {
    fill: black;
    stroke: black;
    width: 16px;
    height: 16px;
}

.icon-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.cell {
    cursor: pointer;

    &:hover,
    &.clicked {
        filter: brightness(1.5);
    }
}

path {
    stroke-linecap: round;
}

.outer-cell {
    stroke: #2c2c2c;
    stroke-width: 0.1px;
}

#cell-info {
    pointer-events: none;
    border-left: 1px solid black;
    padding: 4px 8px;
}

