@import url("styles/base.css");
@import url("styles/cell-coordinates.css");
@import url("styles/start-game-popover.css");
@import url("styles/biome-colors.css");

body {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-areas:
        "header header"
        "board cellInfo"
        "footer footer"
    ;

    #board {
        grid-area: board;
        align-self: center;
    }

    #cell-info {
        grid-area: cellInfo;
    }
}

svg#defs {
    width: 0;
    height: 0;
    position: absolute;
}

.icon {
    fill: black;
    stroke: black;
    width: 16px;
    height: 16px;
}

.icon-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.cell {
    cursor: pointer;

    &:hover,
    &.adjacent-to-clicked {
        /* TODO find better way to highlight */
        filter: brightness(1.5);
    }

    &.clicked .outer-cell {
        fill: yellow;
    }
}

.outer-cell {
    stroke: #2c2c2c;
    stroke-width: 0.1px;
    /* TODO base fill on player color (when owned) */
}

.inner-cell {
    stroke: none;
}

#cell-info {
    pointer-events: none;
    border: 1px solid black;
    padding: 4px 8px;
}

