@import url("styles/variables.css");
@import url("styles/base.css");
@import url("styles/modifiers.css");
@import url("styles/grid.css");
@import url("styles/label.css");
@import url("styles/buttons.css");
@import url("styles/cell-coordinates.css");
@import url("styles/main-overlay.css");
@import url("styles/biome-colors.css");
@import url("styles/player-colors.css");
@import url("styles/info-bar.css");
@import url("styles/side-bar.css");
@import url("styles/zoom.css");

#board-container {
    padding: 8px;
    overflow: auto;
    height: 100%;
    width: calc(100vw - var(--zoom-btns-width) - var(--side-bar-width));
}

.icon {
    fill: var(--icon-color);
    stroke: var(--icon-color);
    width: 16px;
    height: 16px;

    #bottom-bar & {
        width: 18px;
        height: 18px;
    }
}

.cell {
    stroke: var(--cell-border-color);
    stroke-width: 0.1px;
}

.cell-wrapper {
    cursor: pointer;

    &:hover {
        filter: brightness(1.5);
    }

    &.clicked {
        animation: 0.75s infinite alternate blink ease forwards;
    }

    &.contested {
        animation: 0.75s infinite alternate blink-red ease forwards;
    }
}

.population-size {
    font-size: 0.2rem;
    fill: var(--owner-color);
}

#cell-debug-info {
    display: none;
    white-space: preserve;

    .debug & {
        display: block;
    }
}

#movement-config {
    [name="movement-season"] {
        margin-right: 8px;
    }
}

#troop-strength-setter {
    text-align: center;
}

#troop-strength-input {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.movement-indicator {
    text {
        font-size: 0.1em;
        transform: translateX(-0.3em);
    }

    path {
        fill: none;
    }

    [data-current_phase="movement_execution"] & {
        display: none;
    }
}

@keyframes blink {
    0% {
        filter: brightness(1.5);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes blink-red {
    100% {
        fill: red;
    }
}